//Colors
$blue: #26A8FE;
$blue-dark: #2A8BCC;
$blue-lighter: #C2E7FF;
$blue-light: #A8DAFF;
$light: #E2F4FF;
$off-white: #F9FDFF;
$black: #000000;
$off-black: #272222;
$grey: #9A9A9A;
$grey-light: #E5E5E5;
$white: #ffffff;