/*
0-600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200-1800px: Our normal desktop styles
1800px +: big desktop
ORDER:  Base + typography > general layout + grid >
        page layout > components
$breakpoint arguments choices:
-phone-small
-phone
-tab-prt
-tab-land
-big-desktop
1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.wavy {
  position: absolute;
  bottom: 0;
  left: 0;
}

.header {
  position: relative;
  overflow: hidden;
  height: 90vh;
  max-height: 900px;
  padding: 4rem 14rem;
  padding-left: 14rem;
  padding-right: 14rem;
  background: linear-gradient(269.18deg, #26A8FE 0.26%, #2A8BCC 49.66%, #13547F 99.47%);
}

@media only screen and (max-width: 56.25em) {
  .header {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    max-height: 600px;
  }
}

.header__bg {
  position: absolute;
  top: 85rem;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.header-content {
  max-width: calc(1440px - 14rem);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 37.5em) {
  .header-content {
    display: block;
  }
}

.heading {
  margin-top: 8rem;
}

@media only screen and (max-width: 75em) {
  .heading {
    margin-right: 5rem;
    margin-top: 12rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading {
    margin-top: 9rem;
    margin-right: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading__link {
    text-align: center;
  }
}

.heading__primary {
  color: #ffffff;
  font-size: 6rem;
  font-weight: 500;
}

@media only screen and (max-width: 37.5em) {
  .heading__primary {
    text-align: center;
    font-size: 5rem;
  }
}

.heading__secondary {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 200;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .heading__secondary {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading__secondary {
    text-align: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading__img {
    text-align: center;
  }
}

.heading__img img {
  height: 60vh;
  max-height: 600px;
  margin-top: 5rem;
  width: auto;
}

@media only screen and (max-width: 75em) {
  .heading__img img {
    height: 50rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading__img img {
    height: 45rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading__img img {
    height: 40rem;
  }
}

.nav {
  max-width: calc(1440px - 14rem);
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav #nav-check {
  display: none;
}

@media only screen and (max-width: 56.25em) {
  .nav .nav-btn > label {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1.2rem 1rem;
    border-radius: 1rem;
    background-color: #A8DAFF;
  }
  .nav .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #ffffff;
  }
  .nav .nav-btn > label > span:not(:first-child) {
    margin-top: 1rem;
  }
  .nav .nav__list {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background: linear-gradient(269.18deg, #26A8FE 0.26%, #2A8BCC 49.66%, #13547F 99.47%);
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 10rem;
    left: 0px;
  }
  .nav .nav__list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 3rem;
  }
  .nav #nav-check:not(:checked) ~ .nav__list {
    height: 0px;
  }
  .nav #nav-check:checked ~ .nav__list {
    height: 100%;
    margin-top: 1rem;
    padding: 10rem 0;
    overflow-y: auto;
  }
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__logo img {
  height: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .nav__logo img {
    height: 6rem;
  }
}

.nav__logo-text {
  font-size: 2rem;
  color: #ffffff;
}

@media only screen and (max-width: 37.5em) {
  .nav__logo-text {
    font-size: 3rem;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav__link {
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 6rem;
  text-decoration: none;
}

@media only screen and (max-width: 56.25em) {
  .nav__link {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .nav__link {
    font-size: 2.5rem;
    margin-right: 0;
  }
}

.nav__link:visited::after, .nav__link:hover::after, .nav__link:active::after {
  content: '';
  position: absolute;
  width: 4rem;
  display: block;
  height: 2px;
  background-color: #ffffff;
}

.nav__link--button {
  color: #26A8FE;
  background-color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 2px 14px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
}

@media only screen and (max-width: 56.25em) {
  .nav__link--button {
    font-size: 2.3rem;
  }
}

.section-work {
  margin-top: 3rem;
  padding-left: 14rem;
  padding-right: 14rem;
}

@media only screen and (max-width: 56.25em) {
  .section-work {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .section-work {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.section__heading {
  max-width: calc(1440px - 14rem);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__heading-primary {
  font-size: 3rem;
  font-weight: 500;
}

@media only screen and (max-width: 56.25em) {
  .section__heading-primary {
    font-size: 3.5rem;
  }
}

.section__heading-primary::after {
  content: '';
  text-align: center;
  display: block;
  width: 8rem;
  margin-bottom: 4rem;
  height: 5px;
  background-color: #26A8FE;
}

.section__heading p {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 10rem;
}

@media only screen and (max-width: 56.25em) {
  .section__heading p {
    font-size: 2.2rem;
    text-align: center;
  }
}

.work__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: calc(1440px - 14rem);
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 56.25em) {
  .work__content {
    display: block;
    width: 50rem;
  }
}

.work__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 56.25em) {
  .work__content-item {
    margin-bottom: 10rem;
  }
}

.work__content-item:not(:first-child) {
  margin-left: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .work__content-item:not(:first-child) {
    margin-left: 0;
  }
}

.work__content-item img {
  height: 8rem;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 56.25em) {
  .work__content-item img {
    margin-bottom: 3rem;
  }
}

.work__content-item-primary {
  font-size: 2rem;
  font-weight: 500;
  color: #272222;
  text-align: center;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 56.25em) {
  .work__content-item-primary {
    font-size: 2.8rem;
  }
}

.work__content-item-secondary {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  color: #707070;
}

@media only screen and (max-width: 56.25em) {
  .work__content-item-secondary {
    font-size: 2.3rem;
  }
}

.features::before {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff));
  background: linear-gradient(#ffffff);
  height: 65rem;
  width: 100%;
  position: absolute;
  top: -50rem;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  left: 0;
  border-radius: 0 0 50% 50%;
  z-index: 0;
}

@media only screen and (max-width: 56.25em) {
  .features::before {
    top: -77rem;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.features {
  overflow: hidden;
  position: relative;
  margin-top: 25rem;
  padding-left: 14rem;
  padding-right: 14rem;
  padding-bottom: 15rem;
  background: linear-gradient(270.61deg, #E2F4FF 0.24%, #A8DAFF 99.55%);
}

@media only screen and (max-width: 56.25em) {
  .features {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .features {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .features {
    margin-top: 15rem;
  }
}

.features__content {
  max-width: calc(1440px - 14rem);
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 12rem;
}

@media only screen and (max-width: 37.5em) {
  .features__content {
    display: block;
  }
}

@media only screen and (max-width: 37.5em) {
  .features__content-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.features__content-img img {
  height: 60rem;
}

.features__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

@media only screen and (max-width: 37.5em) {
  .features__content-box {
    display: block;
    margin-left: 0;
  }
}

.features__content-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
}

@media only screen and (max-width: 75em) {
  .features__content-item {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .features__content-item {
    margin-bottom: 0;
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .features__content-item {
    text-align: center;
  }
}

.features__content-item:first-child {
  margin-right: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .features__content-item:first-child {
    margin-right: 0;
  }
}

.features__content-item:nth-child(3) {
  margin-right: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .features__content-item:nth-child(3) {
    margin-right: 0;
  }
}

.features__content-item-img img {
  background: #ffffff;
  padding: 1.2rem;
  height: 6rem;
  border-radius: 18px;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 56.25em) {
  .features__content-item-img img {
    margin-bottom: 1rem;
  }
}

.features__content-item-img1 img {
  background: #26A8FE;
  padding: 1.2rem;
  height: 6rem;
  border-radius: 18px;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 56.25em) {
  .features__content-item-img1 img {
    margin-bottom: 1rem;
  }
}

.features__content-item-primary {
  font-size: 2rem;
  font-weight: 500;
  color: #272222;
  margin-bottom: 1.8rem;
}

@media only screen and (max-width: 56.25em) {
  .features__content-item-primary {
    font-size: 2.8rem;
  }
}

.features__content-item-primary:first-child {
  color: #26A8FE;
}

.features__content-item-secondary {
  font-size: 1.4rem;
  color: #707070;
  width: 28rem;
}

@media only screen and (max-width: 56.25em) {
  .features__content-item-secondary {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .features__content-item-secondary {
    width: 38rem;
    margin: 0 auto;
  }
}

.review {
  margin-top: 10rem;
  padding-left: 14rem;
  padding-right: 14rem;
}

@media only screen and (max-width: 56.25em) {
  .review {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .review {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.review__box {
  background-color: #F9FDFF;
  width: 70rem;
  margin: 0 auto;
  padding: 6rem;
}

@media only screen and (max-width: 37.5em) {
  .review__box {
    width: auto;
  }
}

.review__quotes {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15rem;
  color: #9A9A9A;
  line-height: 17.6rem;
  text-align: center;
}

.review__text {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 22px;
  text-align: center;
  color: #707070;
  font-family: Roboto;
  color: #707070;
}

@media only screen and (max-width: 56.25em) {
  .review__text {
    font-size: 2.3rem;
  }
}

.review__name {
  font-size: 25px;
  line-height: 29px;
  color: #272222;
  text-align: center;
  margin-top: 7rem;
  font-family: Roboto;
}

.review__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.review__star {
  background-color: #F6CC12;
  height: 20px;
  width: 20px;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  text-align: center;
}

.review__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9rem;
}

.review__arrow {
  margin-right: 6rem;
}

@media only screen and (max-width: 37.5em) {
  .review__arrow {
    margin-right: 2rem;
  }
}

.review__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .review__pictures :nth-child(2) {
    margin-right: 5rem;
  }
}

.review__pictures :nth-child(3) {
  height: 12rem;
  margin: 0 2rem 3rem -3rem;
}

.review__pictures :nth-child(1),
.review__pictures :nth-child(5) {
  display: none;
}

.review__pictures img {
  height: 6rem;
  margin-right: 6rem;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

@media only screen and (max-width: 56.25em) {
  .review__pictures img {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .review__pictures img {
    margin-right: 3rem;
  }
}

.clients {
  background-color: #F9FDFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10rem 0;
  padding: 8rem 0;
  padding-left: 14rem;
  padding-right: 14rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 56.25em) {
  .clients {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .clients {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .clients {
    display: -ms-grid;
    display: grid;
  }
}

.clients img {
  height: 3.5rem;
  margin-left: 10rem;
}

@media only screen and (max-width: 75em) {
  .clients img {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .clients img {
    margin: 1rem 0;
  }
}

.subscribe::before {
  content: '';
  background: #C2E7FF;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100rem;
  height: 100rem;
  border-radius: 50% 50% 0 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: -1;
  -webkit-transform: translateX(-50%) scaleX(2);
          transform: translateX(-50%) scaleX(2);
}

@media only screen and (max-width: 56.25em) {
  .subscribe::before {
    -webkit-transform: translateX(-50%) scaleX(1.5);
            transform: translateX(-50%) scaleX(1.5);
  }
}

.subscribe {
  position: relative;
  overflow: hidden;
  padding: 14rem 0;
  padding-left: 14rem;
  padding-right: 14rem;
}

@media only screen and (max-width: 56.25em) {
  .subscribe {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .subscribe {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.subscribe__form {
  padding: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffffff;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 5px rgba(154, 154, 154, 0.3);
          box-shadow: 5px 5px 5px rgba(154, 154, 154, 0.3);
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .subscribe__form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe__form input,
.subscribe__form input:focus {
  background-color: #F2FAFF;
  border-radius: 50px;
  border: none;
  width: 50rem;
  height: 4rem;
  font-size: 1.4rem;
  padding-left: 2rem;
  font-weight: 200;
  outline: none;
  color: #707070;
}

@media only screen and (max-width: 56.25em) {
  .subscribe__form input,
  .subscribe__form input:focus {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .subscribe__form input,
  .subscribe__form input:focus {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: auto;
  }
}

.subscribe__form input::-webkit-input-placeholder,
.subscribe__form input:focus::-webkit-input-placeholder {
  font-weight: 200;
  font-size: 1.4rem;
  color: #707070;
}

.subscribe__form input:-ms-input-placeholder,
.subscribe__form input:focus:-ms-input-placeholder {
  font-weight: 200;
  font-size: 1.4rem;
  color: #707070;
}

.subscribe__form input::-ms-input-placeholder,
.subscribe__form input:focus::-ms-input-placeholder {
  font-weight: 200;
  font-size: 1.4rem;
  color: #707070;
}

.subscribe__form input::placeholder,
.subscribe__form input:focus::placeholder {
  font-weight: 200;
  font-size: 1.4rem;
  color: #707070;
}

@media only screen and (max-width: 56.25em) {
  .subscribe__form input::-webkit-input-placeholder,
  .subscribe__form input:focus::-webkit-input-placeholder {
    font-size: 2.2rem;
  }
  .subscribe__form input:-ms-input-placeholder,
  .subscribe__form input:focus:-ms-input-placeholder {
    font-size: 2.2rem;
  }
  .subscribe__form input::-ms-input-placeholder,
  .subscribe__form input:focus::-ms-input-placeholder {
    font-size: 2.2rem;
  }
  .subscribe__form input::placeholder,
  .subscribe__form input:focus::placeholder {
    font-size: 2.2rem;
  }
}

.subscribe__form button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12rem;
  background-color: #26A8FE;
  color: #ffffff;
  border: none;
  height: 4rem;
  border-radius: 50px;
  font-weight: 300;
  font-style: normal;
  line-height: 25px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 56.25em) {
  .subscribe__form button {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .subscribe__form button {
    padding: 0 1rem;
    width: auto;
  }
}

.subscribe__form button svg {
  margin-right: 1rem;
}

.contact {
  margin: 5rem 0;
  padding-left: 14rem;
  padding-right: 14rem;
}

@media only screen and (max-width: 56.25em) {
  .contact {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60rem;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .contact__form {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__name, .contact__name::-webkit-input-placeholder {
  background: #E5E5E5;
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
  -webkit-box-flex: 1;
          flex: 1 0 24%;
  margin-right: 5rem;
}

.contact__name, .contact__name:-ms-input-placeholder {
  background: #E5E5E5;
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
  -ms-flex: 1 0 24%;
      flex: 1 0 24%;
  margin-right: 5rem;
}

.contact__name, .contact__name::-ms-input-placeholder {
  background: #E5E5E5;
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
  -ms-flex: 1 0 24%;
      flex: 1 0 24%;
  margin-right: 5rem;
}

.contact__name, .contact__name::placeholder {
  background: #E5E5E5;
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 24%;
          flex: 1 0 24%;
  margin-right: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .contact__name, .contact__name::-webkit-input-placeholder {
    padding: 2.5rem 1rem;
    font-size: 2.2rem;
  }
  .contact__name, .contact__name:-ms-input-placeholder {
    padding: 2.5rem 1rem;
    font-size: 2.2rem;
  }
  .contact__name, .contact__name::-ms-input-placeholder {
    padding: 2.5rem 1rem;
    font-size: 2.2rem;
  }
  .contact__name, .contact__name::placeholder {
    padding: 2.5rem 1rem;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact__name, .contact__name::-webkit-input-placeholder {
    margin-right: 0;
  }
  .contact__name, .contact__name:-ms-input-placeholder {
    margin-right: 0;
  }
  .contact__name, .contact__name::-ms-input-placeholder {
    margin-right: 0;
  }
  .contact__name, .contact__name::placeholder {
    margin-right: 0;
  }
}

.contact__email, .contact__email::-webkit-input-placeholder {
  background: #E5E5E5;
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
  -webkit-box-flex: 1;
          flex: 1 0 24%;
}

.contact__email, .contact__email:-ms-input-placeholder {
  background: #E5E5E5;
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
  -ms-flex: 1 0 24%;
      flex: 1 0 24%;
}

.contact__email, .contact__email::-ms-input-placeholder {
  background: #E5E5E5;
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
  -ms-flex: 1 0 24%;
      flex: 1 0 24%;
}

.contact__email, .contact__email::placeholder {
  background: #E5E5E5;
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 24%;
          flex: 1 0 24%;
}

@media only screen and (max-width: 37.5em) {
  .contact__email, .contact__email::-webkit-input-placeholder {
    padding: 2.5rem 1rem;
    font-size: 2.2rem;
  }
  .contact__email, .contact__email:-ms-input-placeholder {
    padding: 2.5rem 1rem;
    font-size: 2.2rem;
  }
  .contact__email, .contact__email::-ms-input-placeholder {
    padding: 2.5rem 1rem;
    font-size: 2.2rem;
  }
  .contact__email, .contact__email::placeholder {
    padding: 2.5rem 1rem;
    font-size: 2.2rem;
  }
}

.contact__message, .contact__message::-webkit-input-placeholder {
  background: #E5E5E5;
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
  -webkit-box-flex: 2;
          flex: 2 0 98%;
  padding-bottom: 12rem;
}

.contact__message, .contact__message:-ms-input-placeholder {
  background: #E5E5E5;
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
  -ms-flex: 2 0 98%;
      flex: 2 0 98%;
  padding-bottom: 12rem;
}

.contact__message, .contact__message::-ms-input-placeholder {
  background: #E5E5E5;
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
  -ms-flex: 2 0 98%;
      flex: 2 0 98%;
  padding-bottom: 12rem;
}

.contact__message, .contact__message::placeholder {
  background: #E5E5E5;
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 98%;
          flex: 2 0 98%;
  padding-bottom: 12rem;
}

@media only screen and (max-width: 37.5em) {
  .contact__message, .contact__message::-webkit-input-placeholder {
    padding: 2.5rem 1rem;
    font-size: 2.2rem;
  }
  .contact__message, .contact__message:-ms-input-placeholder {
    padding: 2.5rem 1rem;
    font-size: 2.2rem;
  }
  .contact__message, .contact__message::-ms-input-placeholder {
    padding: 2.5rem 1rem;
    font-size: 2.2rem;
  }
  .contact__message, .contact__message::placeholder {
    padding: 2.5rem 1rem;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact__message, .contact__message::-webkit-input-placeholder {
    padding-bottom: 12rem;
  }
  .contact__message, .contact__message:-ms-input-placeholder {
    padding-bottom: 12rem;
  }
  .contact__message, .contact__message::-ms-input-placeholder {
    padding-bottom: 12rem;
  }
  .contact__message, .contact__message::placeholder {
    padding-bottom: 12rem;
  }
}

.contact__button {
  border: none;
  background-color: #26A8FE;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 17rem;
  font-size: 1.4rem;
  border-radius: 50px;
  padding: 1.5rem 1rem;
  -webkit-box-shadow: 5px 5px 5px #c2e7ff;
          box-shadow: 5px 5px 5px #c2e7ff;
}

@media only screen and (max-width: 56.25em) {
  .contact__button {
    font-size: 2.2rem;
  }
}

.footer {
  padding-left: 14rem;
  padding-right: 14rem;
  background-color: #26A8FE;
}

@media only screen and (max-width: 56.25em) {
  .footer {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.footer-wrapper {
  max-width: calc(1440px - 14rem);
  margin-left: auto;
  margin-right: auto;
  height: 20rem;
  padding: 10rem 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 56.25em) {
  .footer-wrapper {
    padding: 7rem 0;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__link {
    margin: 5rem auto;
  }
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icons img {
  height: 20px;
  margin-right: 4rem;
}
/*# sourceMappingURL=main.css.map */