.contact{
    margin: 5rem 0;
    @include page-margin;
    &__form{
        display: flex;
        flex-wrap: wrap;
        width: 60rem;
        margin: 0 auto;
        @include respond(phone){
            width: auto;
            flex-direction: column;
        }
    }
    &__name,
    &__name::placeholder{
        @include contact-form;
        flex: 1 0 24%;
        margin-right: 5rem;
        @include respond(phone){
            margin-right: 0;
        }
        
    }
    &__email,
    &__email::placeholder{
        @include contact-form;
        flex: 1 0 24%
    }
    &__message,
    &__message::placeholder{
        @include contact-form;
        flex: 2 0 98%;
        padding-bottom: 12rem;
    }
    &__button{
        border: none;
        background-color: $blue;
        color: $white;
        display: flex;
        justify-content: space-around;
        width: 17rem;
        font-size: $font-xs;
        border-radius: 50px;
        padding: 1.5rem 1rem;
        box-shadow: 5px 5px 5px rgba($blue-lighter, 1);

        @include respond(tab-port){
            font-size: $font-xs-r;
        }
    }
}