// .header::after{
//     content: '';
//     position: absolute;
//     bottom: 0vh;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: url(../../images/background2.svg);
//     background-size: contain;
//     background-repeat: no-repeat;
// }
.wavy{
    position: absolute;
    bottom: 0;
    left: 0;
}
.header{
    position: relative;
    overflow: hidden;
    height: 90vh;
    max-height: 900px;
    padding: 4rem 14rem;
    @include page-margin;
    background: linear-gradient(269.18deg, #26A8FE 0.26%, #2A8BCC 49.66%, #13547F 99.47%);
    @include respond(phone){
        max-height: 600px;
    }

    &__bg{
        position: absolute;
        top: 85rem;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 1;
    }
}
.header-content{
    @include max-width;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    @include respond(phone){
        display: block;
    }
}

.heading{
    margin-top: 18rem;
    @include respond(tab-land){
        margin-right: 5rem;
        margin-top: 12rem;
    }
    @include respond(phone){
        margin-top: 9rem;
        margin-right: 0;
    }
     &__link{
        @include respond(phone){
            text-align: center;
        }
     }
    &__primary{
        color: $white;
        font-size: $font-xl;
        font-weight: 500;
        @include respond(phone){
            text-align: center;
            font-size: 5rem;
        }
    }

    &__secondary{
        color: $white;
        font-size: $font-m;
        font-weight: 200;
        margin-top: 6rem;
        margin-bottom: 2rem;
        @include respond(tab-port){
            font-size: $font-m-r;
        }
        @include respond(phone){
            text-align: center;
        }
    }
    &__img{
        @include respond(phone){
            text-align: center;
        }
        img{
            height: 60vh;
            max-height: 600px;
            margin-top: 5rem;
            width: auto;
            @include respond(tab-land){
                height: 50rem;
            }
            @include respond(tab-port){
                height: 45rem;
            }
            @include respond(phone){
                height: 40rem;
            }
        }
        
    }
}