//Typography

$font-xl: 6rem;
$font-l: 3rem;
$font-m: 2rem;
$font-s: 1.5rem;
$font-xs: 1.4rem;

//For smaller screen sizes
//$font-xl-r: 6rem;
$font-l-r: 3.5rem;
$font-m-r: 2.8rem;
$font-s-r: 2.3rem;
$font-xs-r: 2.2rem;
